.container {
    display: flex;
    justify-content: center;
    margin: 50px 0 10px 0;
    background-image: url('../../../public/background-footer.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}