<section class="container">
    <div>
        <div>
            <img src="Contacts.svg" alt="Контакты" />
        </div>
        <div>
            <div class="info">
                <p>Некоммерческая организация</p>
                <p>Благотворительный фонд поддержки и развития</p>
                <p>Центра Детского Творчества Советского района</p>
                <p>г. Новосибирск, ул. Академическая, 28</p>
                <p>E-mail: bfcdt&#64;mail.ru</p>
            </div>
        </div>
    </div>
</section>
