<section>
    <div>
        <h1>Программы</h1>

        <div class="container">
            <div class="item">       
                <ul>
                    <h2>Программы для сотрудничества:</h2> 
                    <li>«Спортивное ориентирование»</li>
                    <li>«Двигайся, и ты будешь счастлив»</li>
                    <li>Мастер-классы</li>
                    <li>Поздравления</li>
                </ul>
            </div>
            <div>
                <ul>
                    <h2>Программы поддержки:</h2> 
                    <li>Пошив костюмов</li>
                    <li>Участие детей в конкурсах</li>
                    <li>Аренда сцены</li>
                    <li>Поддержка музеев</li>
                    <li>Проект «Дети для детей»</li>
                </ul>
            </div>

        </div>
    </div>
</section>
