<section>
    <div>
        <div class="title"><h1>Программы</h1></div>

        <div class="container">
            <div class="item">       
                <ul>
                    <h2>Программы для сотрудничества:</h2> 
                    <li>
                        <a data-fancybox data-type="pdf" href="Спортивное ориентирование.pdf" target="_blank">«Спортивное ориентирование»</a>
                    </li>
                    <li>
                        <a data-fancybox data-type="pdf" href="Двигайся и ты будешь счастлив.pdf" target="_blank">«Двигайся, и ты будешь счастлив»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
