<section>
    <div class="title">
        <h1>Мероприятия</h1>
        <div>
            <h2>
                <a data-fancybox data-type="pdf" href="Проект Дети для детей.pdf" target="_blank">Проект «Дети для детей»</a>
            </h2>
        </div>
        <div>
            <h2>Районные викторины:</h2> 
            <ul>
                <li>
                    <a data-fancybox data-type="pdf" href="Викторина Мой Советский район.pdf" target="_blank">«Мой Советский район»</a>
                </li>
                <li>
                    <a data-fancybox data-type="pdf" href="Викторина Мой Академгородок.pdf" target="_blank">«Мой Академгородок»</a>
                </li>
            </ul>
        </div>
    </div>
</section>
