section {
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 6px 12px 4px 0px #00000040;
    background: #FFC8E957;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;
}

.wrapper {
    margin: 20px;
}

.container {
    position: relative;
}

.events-item {    
    position: absolute;
    top: 55px;
    left: 400px;
    border-radius: 17px;
}

.program-item {    
    position: absolute;
    top: 55px;
    left: 285px;
    border-radius: 17px;
}