<section>
    <div class="wrapper-about">
        <div class="about-item">
            <img src="decoration.svg"/>
        </div>
        <div class="about-item">            
            <h1>О фонде</h1>
            <ul>
                <p>
                    Благотворительный фонд поддержки и развития Центра Детского Творчества Советского района является некоммерческой организацией и создан с целью:
                </p>
                <li>содействия укреплению финансовой, материальной, учебной, информационной базы ЦДТ;</li>
                <li>создания благоприятных условий для учёбы, труда, быта, отдыха и медицинского обеспечения воспитанников и работников ЦДТ;</li>
                <li>материальной, организационно-методической и иной поддержки обеспечения и совершенствования образовательного и воспитательного процесса в ЦДТ;</li>
                <li>стимулирования и содействия разработке, применению и развитию эффективных инновационных программ и технологий в ЦДТ;</li>
                <li>материальной и иной поддержки одарённых лиц - учащихся или работающих в ЦДТ;</li>
                <li>содействия установлению и развитию международного делового и культурного сотрудничества с образовательными учреждениями;</li>
            </ul>
        </div>
        <div class="about-item">
            <img src="image1.svg"/>
            <img src="image2.svg"/>
        </div>
    </div>

    <div class="wrapper-events">
        <div class="container">
            <img src="background1.png" alt="Фон мероприятия" />
            <a routerLink="/events"><img class="events-item" src="Events.svg" alt="Кнопка мероприятий" /></a>
        </div>
        <div class="container">
            <img src="background2.png" alt="Фон мероприятия" />
            <a routerLink="/programms"><img class="program-item" src="Cooperation-programs.svg" alt="Программа сотрудничества" /></a>
        </div>
    </div>

    <div class="wrapper-documents">
        <a routerLink="/founders"><img src="Founders.svg" alt="Учредители" /></a>
        <a routerLink="/documents"><img src="Documents.svg" alt="Документы" /></a>
    </div>
</section>


