<section>
    <div>
        <h1>Оказать помощь</h1>

        <div>
            <p>Уважаемые друзья! Благотворительные платежи можно осуществлять через QR-код или через <a href="http://pay.kvartplata.ru/">Федеральную систему «Город»</a>.</p>
            
            <h3>Для оплаты через QR-код отсканируйте код в приложении банка:</h3>
            <div class="wrapper-img">
                <img class="qr" src="QR.jpg" alt="инструкция по оплате через систему Город"/>
            </div>

            <h3>Для оплаты через <a href="http://pay.kvartplata.ru/">Федеральную систему «Город»</a> Вам необходимо:</h3>
            <ul>
                
                <li>содействия укреплению финансовой, материальной, учебной, информационной базы ЦДТ;</li>
                <li>создания благоприятных условий для учёбы, труда, быта, отдыха и медицинского обеспечения воспитанников и работников ЦДТ;</li>
            </ul>
            <div class="wrapper-img">
                <img src="pay-instruction.jpg" alt="инструкция по оплате через систему Город"/>
            </div>
            <div>
                <h4>Реквизиты фонда: </h4>
                <p>Благотворительный фонд поддержки и развития Центра Детского Творчества Советского района</p>
                <p>Сокращенное наименование: БФ ЦДТ</p>
                <p>ИНН 5408230306</p>
                <p>КПП 540801001</p>
                <p>Р/счет: 40703810501500000018</p>
                <p>Банк: БАНК "ЛЕВОБЕРЕЖНЫЙ" (ПАО)</p>
                <p>к/счет: 30101810100000000850</p>
                <p>БИК 045004850</p>
                <p>Просьба в назначении платежа указать: ПОЖЕРТВОВАНИЕ</p>
            </div>
        </div>
    </div>
</section>
