<section>
    <app-header class="header"></app-header>

    <div>        
        <div class="wrapper-logo">
            <a routerLink="/main">
                <img src="logo.svg"/>
            </a>
        </div>
        <div class="wrapper-leaf">
            <img src="leaf1.svg"/>
        </div>
    </div>

    <div class="wrapper-page">
        <router-outlet />
        <!-- <app-main></app-main> -->
        <!-- <app-news></app-news> -->
        <!-- <app-events></app-events> -->
        <!-- <app-acknowledgment></app-acknowledgment> -->
        <!-- <app-documents></app-documents> -->
        <!-- <app-founders></app-founders> -->
        <!-- <app-helps></app-helps> -->
        <!-- <app-programms></app-programms> -->
    </div>

    <app-footer></app-footer>
</section>
