section {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 50px 1fr auto;
    max-width: 1000px;
    margin: 0px auto;
}

.wrapper-logo {    
    position: relative;

    img {        
        position: absolute;
        top: -90px;
        left: 400px;
        z-index: 1;
    }
}

.wrapper-leaf {    
    position: relative;

    img {        
        position: absolute;
        top: 10px;
        left: 75px;
        z-index: 1;
    }
}

