<section>
    <app-header class="header"></app-header>

    <div>        
        <div class="wrapper-logo">
            <img src="logo.svg"/>
        </div>
        <div class="wrapper-leaf">
            <img src="leaf1.svg"/>
        </div>
    </div>

    <!-- <app-main></app-main> -->
    <!-- <app-news></app-news> -->
    <!-- <app-events></app-events> -->
    <!-- <app-acknowledgment></app-acknowledgment> -->
    <!-- <app-documents></app-documents> -->
    <app-founders></app-founders>

    <app-footer></app-footer>
</section>
