section {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1000px;
    margin: 0px auto;
}

.header {
    margin-top: 20px;
}

.wrapper-logo {    
    position: relative;

    img {        
        position: absolute;
        left: 400px;
        z-index: 1;
    }
}

.wrapper-leaf {    
    position: relative;

    img {        
        position: absolute;
        top: 100px;
        left: 75px;
        z-index: 1;
    }
}

