<section>
    <div class="title">
        <h1>Благодарность</h1>
        <div>
            <p>Сердечно благодарим всех, кто содействует развитию дополнительного образования: родителей детей, посещающих Центр детского творчества, педагогов, партнёров и всех неравнодушных людей.</p> 
            <p>Ваша помощь важна для успеха наших детей!</p>
        </div>
        <div>
            <h2>Благодарим:</h2>
            <ul>
                <li>Банк Левобережный</li>
                <li>Стоматологический центр ООО "Дент-Практик"</li>
                <li>Соболенко Лику Алексеевну - веб-разработчика сайта</li>
                <li>Климину Дарью Михайловну - дизайнера сайта</li>
            </ul>
        </div>
        <div>
            <h2>Неравнодушные люди:</h2>
            <ul>
                <li>Квецинская Татьяна Евгеньевна</li>
                <li>Игнатюк Евгения Олеговна</li>
                <li>Петренко Николай Николаевич</li>
                <li>Сидорова Виктория Викторовна</li>
                <li>Кардаполов Алексей Владимирович</li>
                <li>Пекут Елена Евгеньевна</li>
                <li>Аганичева Инна Борисовна</li>
                <li>Красина Лидия Ивановна</li>                
            </ul>
        </div>
        <div>
            <h2>Родители и педагоги детских объединений ЦДТ:</h2>
            <ul>
                <li>Школа раннего творческого развития «Умка»</li>
                <li>Образцовый коллектив ансамбль танца «Карамболь»</li>
                <li>Образцовый коллектив вокальная студия «Ступеньки к звездам»</li>
                <li>Школа раннего развития «Школа Мудрой Совы»</li>
                <li>Образцовый коллектив Школа художественного творчества «Цветень»</li>
                <li>Вокально-хоровая студия «Соловушка»</li>
                <li>ДО «Мир вокруг нас»</li>
                <li>ДО «Химия как по нотам»</li>
                <li>ДО «Микромир»</li>
                <li>Образцовый коллектив Мастерская моды «Силуэт»</li>
                <li>Мастерская «Азбука вкуса»</li>
                <li>ДО «Успех»</li>
                <li>Образцовый коллектив вокальная студия «Радуга»</li>
            </ul>
        </div>
    </div>
</section>
