section {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div{
        width: 700px;
        font-family: Roboto Slab;
        font-weight: 400;
        font-size: 14px;
        line-height: 113.99999999999999%;
    }
}

h1 {
    color: #912969;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-shadow: 0px 4px 4px #00000040;
}

.founders{        
    // margin-top: 150px; 
}