<section>
    <div class="founders">
        <h1>Учредители:</h1>
        <h3>
            <ul>
                <li>Кулиш Анастасия Георгиевна</li>
                <li>Вологодская Наталья Александровна</li>
                <li>Шиндина Людмила Аркадьевна</li>
            </ul>
        </h3>
    </div>
    <div>
        <h1>Сотрудники:</h1>
        <h3>
            <ul>
                <li>Наумова Юлия Юрьевна – Президент</li>
                <li>Рудая Татьяна Викторовна – бухгалтер</li>
                <li>Белкина Наталья Петровна – Ревизор</li>
            </ul>
        </h3>
    </div>
    <div>
        <h1>Попечительский совет:</h1>
        <h3>
            <ul>
                <li>Исакова Лада Викторовна</li>
                <li>Николаев Игорь Анатольевич</li>
                <li>Гришаева Кира Аркадьевна</li>
            </ul>
        </h3>
    </div>
</section>
