<section>
    <div class="title">
        <h1>Документы</h1>
    </div>
    <div>
        <h2>
            <a href="https://disk.yandex.ru/i/IufdFH1B3Q5LWM" target="_blank">Устав</a>
        </h2>
        <div class="container">
            <div>
                <h2>Свидетельство о постановке на налоговый учет</h2>
                <div>
                    <a href="sv_post_na_uchet.JPG" data-fancybox>
                        <img src="sv_post_na_uchet.JPG" alt="Свидетельство о постановке на налоговый учет" width="200">
                    </a>
                </div>
            </div>
            <div>
                <h2>Свидетельство о регистрации</h2>
                <div>
                    <a href="sv_gos_reg.JPG" data-fancybox>
                        <img src="sv_gos_reg.JPG" alt="Свидетельство о регистрации" width="200"/>
                    </a>
                </div>
            </div>
            <div>
                <h2>Свидетельство о регистрации юридического лица</h2>
                <div>
                    
                    <a href="nalog_sbor.JPG" data-fancybox>
                        <img src="nalog_sbor.JPG" alt="Свидетельство о регистрации юридического лица" width="200"/>
                    </a>
                </div>
            </div>
            </div>
        </div>
</section>
